body{max-width:50em;margin-left:auto;margin-right:auto;background-color:turquoise}main.svelte-4b4iij{background-color:white;padding-top:2em;padding-bottom:3em;padding-left:1em;padding-right:1em;min-height:100vh;box-sizing:border-box}.cards.svelte-4b4iij{padding:0}.cards.svelte-4b4iij a.svelte-4b4iij{margin-top:1em;margin-bottom:1em;display:inline-block}.cards.svelte-4b4iij li.svelte-4b4iij{border:1px solid #ddd;border-radius:4px;overflow:hidden}.cards.svelte-4b4iij img.svelte-4b4iij{width:100%}.cards.svelte-4b4iij img.empty.svelte-4b4iij{height:250px}.cards.svelte-4b4iij li.svelte-4b4iij{display:grid;grid-template-columns:100px 10fr;grid-column-gap:1em;margin-bottom:1em}@media screen and (min-width: 600px){.cards.svelte-4b4iij li.svelte-4b4iij{grid-template-columns:200px 10fr}}

/*# sourceMappingURL=bundle.css.map */