<script>
	import { search } from './search.service.js';

	let text = "";
	let loading = false;
	let results = [];
	let error_msg = "";

	function performSearch() {
		loading = true;
		search(text).then(r => {
			results = r;
			error_msg = "";
			loading = false;
		}).catch((error) => {
			if (error.message === 'search aborted') {
				console.log(error);
				return;
			}
			loading = false;
			error_msg = error.message;
		});
	}
</script>

<main>
	<h1>Søk på folkebiblioteket</h1>
	<input type="text" bind:value={text} on:keyup={performSearch}>
	{#if loading}
		<h2>Søker ...</h2>
	{:else if error_msg}
		<h2>Feilmelding: {error_msg}</h2>
	{:else if text !== "" && results.length === 0}
		<h2>Ingen treff for '{text}'</h2>
	{:else if text !== ""}
		<h2>Treff for '{text}'</h2>
		<ul class="cards">
		{#each results as r}
			<li>
				{#if r.img}
					<img src={r.img} alt="forsidebilde">
				{:else}
					<img alt="forsidebilde mangler" class="empty">
				{/if}
				<div>
					<h3>{r.title} ({r.format}, {r.date})</h3>
					<table class="details">
						{#if r.creator}
							<tr><th>Forfatter</th><td>{r.creator}</td></tr>
						{/if}
						{#if r.isbn}
							<tr><th>ISBN</th><td>{r.isbn}</td></tr>
						{/if}
						<tr><th>Utgiver</th><td>{r.publisher}</td></tr>
						<tr><th>Språk</th><td>{r.language}</td></tr>
						<tr><th>Format</th><td>{r.format}</td></tr>
						<tr><th>localid</th><td>{r.localid}</td></tr>
						<tr><th>bibliofilid</th><td>{r.bibliofilid}</td></tr>
						{#if r.hylle}
							<tr><th>Plassering</th><td>{r.hylle}</td></tr>
						{/if}
						<tr><th>score</th><td>{r.score}</td></tr>
					</table>
					{#if r.description}
						<p>{r.description}</p>
					{/if}
					<a href={"https://trondheim.bib.no/cgi-bin/m2?tnr=" + r.localid}>Vis på bibliofil</a>
				</div>
			</li>
		{/each}
		</ul>
	{/if}
</main>

<style>
:global(body) {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	background-color: turquoise;
}
main {
	background-color: white;
	padding-top: 2em;
	padding-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
	min-height: 100vh;
	box-sizing: border-box;
}
.cards {
	padding: 0;
}
.cards a {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
}
.cards li {
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.cards img {
	width: 100%;
}
.cards img.empty {
	height: 250px;
}
.cards li {
	display: grid;
	grid-template-columns: 100px 10fr;
	grid-column-gap: 1em;
	margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
	.cards li {
		grid-template-columns: 200px 10fr;
	}
}
</style>